<header>

    <div class="header-top">

        <a href="index.html" class="logo-link">
            <h0 class="logo">

                <span>a</span>
                <span>n</span>
                <span>g</span>
                <span>e</span>
                <span>l</span>

                <span class="logo-final">ø</span>

            </h0>
        </a>

        <nav>

            <a href="musique.html">Musique</a>
            <a href="textes.html">Textes</a>
            <a href="guestbook.html">Guest Book</a>
            <a href="contact.html">Contact</a>

        </nav>

    </div>

</header>